body {
	font-family:Lucida Sans,Lucida Grande,Arial,sans-serif;
	margin:0;
	line-height:22px;
	width:960px;
	margin:0 auto;
}
h1 {
	padding:30px 0 10px;
	margin-top:0;
	line-height:30px;
}

ul{
	padding:0 0 0 15px; 
	list-style : none;
}

a {
	color:#ae3d26;
	text-decoration:none;
}

a:hover { text-decoration:underline; }

hr {
	border:none;
	border-top:1px dotted #000;
}

.show-notes section {
	width: 50%;
	overflow: hidden;
	zoom: 70%;
}

.show-notes .slides > article {
  transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.show-notes .slides > article {
  transform: translate(0) !important;
  -o-transform: translate(0) !important;
  -moz-transform: translate(0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
}
.show-notes .slides > article.past { opacity: 0; }
.show-notes .slides > article.next { opacity: 0; }
.show-notes .slides > article.far-next { opacity: 0; display:none; }
.show-notes .slides > article.far-next { opacity: 0; display:none; }


